@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;800&display=swap');

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-image: url(assets/drink-g0777818f5_1920.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    border-radius: 15px;

    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    
    color: #FFFFFF;
} 

h1 {
    position: center;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 10px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 50px;
}

h2 {
    position: center;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;
}

h3 {
    position: center;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;
}

p {
    color: rgb(154, 82, 187);
    margin-top: -10px;
}

#myInput {
    position: center;
    width: 421px;
    height: 65px;
    left: 546px;
    top: 554px;

    background: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    border-color: #891CBD;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    text-align: center;

    color:darkblue;

    margin-top: 20px;
}

#searchButton {
    width: 209px;
    height: 52px;

    background: linear-gradient(93.54deg, rgba(27,29,210, 0.5), rgba(137,28,189, 0.5));
    border-radius: 15px;
    border-color: #891CBD;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    text-align: center;

    color: #FFFFFF;
}

#searchButton:hover {
    cursor: pointer;
    background: linear-gradient(93.54deg, rgba(102, 104, 212, 0.5), rgba(153, 87, 184, 0.5));
}

#randomButton {
    width: 209px;
    height: 52px;

    background: linear-gradient(93.54deg, rgba(137,28,189, 0.5), rgba(27,29,210, 0.5));
    border-radius: 15px;
    border-color: #020061;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;
    
}

#randomButton:hover{
    cursor: pointer;
    background: linear-gradient(93.54deg, rgba(153, 87, 184, 0.5), rgba(102, 104, 212, 0.5));
}

#box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 4vh;

    background-color: rgba(137,28,189, 0.2);
    backdrop-filter: blur(9px);
    box-shadow: 5px 10px 10px 2px rgba(0, 0, 0, 0.4);
    border: 2px solid #52049b;
    border-radius: 15px;
}

.radiocontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type='radio']  {
    margin: 0 10px;
}

.exitButtonSelection,
.exitButtonResult {
    margin-left: 90%;
    width: 25px;
    height: 25px;
    background: linear-gradient(93.54deg, rgba(27,29,210, 0.5), rgba(137,28,189, 0.5));
    border-radius: 15px;
    border-color: #891CBD;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 15px;
    text-align: center;

    color: #FFFFFF;
}

button {
    height: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border-color: #891CBD;
    background: linear-gradient(93.54deg, rgba(27,29,210, 0.5), rgba(137,28,189, 0.5));
    border-radius: 15px;
    line-height: 15px;
    color: #FFFFFF;
    margin-top: 15px;
}

.blackBackground {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(9px);
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
}

.boxSelection,
.boxResult {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 4vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(137,28,189, 0.2);
    backdrop-filter: blur(9px);
    box-shadow: 5px 10px 10px 2px rgba(0, 0, 0, 0.4);
    border: 2px solid #52049b;
    border-radius: 15px;
    margin: auto;
    padding: 40px;
    z-index: 100;
}

ul {
    margin-top: -10px;
    max-height: 400px;
    overflow: scroll;
}

.boxResult li,
.boxSelection li {
    color: rgb(154, 82, 187);
    list-style: auto;
    text-align: left;
    font-weight: 500;
}

.outputInstructions  {
    display:flex;
    max-height: 70px;
    overflow: scroll;
}

.errorMessage {
    display: none;
    background-color: rgba(137,28,189, 0.4);
    border-radius: 15px;
    border: 2px solid rgb(5, 6, 71);
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    line-height: 50px;
    padding: 20px;
    margin-top: 20px;
}
